@include pageflow-page-type-pictograms("chart");

$chart-background: $basic-background-color;

.chart_page {
  .iframeWrapper {
    &:before {
      opacity: 0.95;
      background-color: $chart-background;
    }
  }
}