<form action="https://datawrapper.de/chart/create" method="POST" target="_blank">
  <input type="hidden" name="theme" value="pageflow" />
  <input type="submit" value="<%= I18n.t('pageflow.chart.editor.templates.datawrapper_ad.create_chart') %>" />
</form>
