.scraped_site_status {
  .state {
    display: none;
  }

  &.failed {
    .failed.state {
      display: block;
    }
  }

  &.processing {
    .processing.state {
      display: block;
    }
  }
}

.datawrapper_ad {
  @include clearfix;

  input {
    @include button('simple', #6AACF7);
    padding: 3px 10px;
    width: auto;
    float: right;
  }
}
